<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164791786241-4nqd4l66jqtelvvi3udu7jtfur6lls60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164791786241-4nqd4l66jqtelvvi3udu7jtfur6lls60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>164791786241-20cdr5mb26cvaqiobnd2kgae7k5ook4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrgg5u5Kz2N-HAyF7upOxt5PwYGZa4xdc</string>
	<key>GCM_SENDER_ID</key>
	<string>164791786241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.business.service</string>
	<key>PROJECT_ID</key>
	<string>bidding-project-7c8b2</string>
	<key>STORAGE_BUCKET</key>
	<string>bidding-project-7c8b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164791786241:ios:1356d8c6e9e03da7</string>
	<key>DATABASE_URL</key>
	<string>https://bidding-project-7c8b2.firebaseio.com</string>
</dict>
</plist>